:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-item {
  list-style: none;
  display: block;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease-in-out, z-index 0s 0.3s;
  object-fit: cover;
  z-index: 1;
  position: relative;
}

.gallery-link {
  display: block;
  line-height: 0;
}

.gallery-link:hover img {
  transform: scale(1.05);
  z-index: 10;
  transition: transform 0.3s ease-in-out, z-index 0s;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.feedback-form {
  background: #FFFFFF;
  padding: 24px;
  width: 360px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  font-weight: 360px;
  text-align: left;
}

.feedback-form input,
.feedback-form textarea {
  border: 1px solid #8E8F99;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form textarea {
  height: 80px;
}

.feedback-form input:hover {
  border-color: #000;
}

.feedback-form input:focus {
  border-color: #4D5AE5;
}

.feedback-form button {
  width: 95px;
  height: 40px;
  background: #4E75FF;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form button:hover {
  background-color: #6C8CFF;
}