:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.main-title {
  margin-top: 32px;
}
* {
  box-sizing: border-box;
}

.timer {
  display: flex;
  gap: 24px;
  margin-top: 32px;
  align-items: center;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
}

#datetime-picker {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  margin-top: 32px;
  margin-left: 18px;
}

button[data-start] {
  padding: 8px 16px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button[data-start]:disabled {
  background-color: #cfcfcf;
  cursor: not-allowed;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 360px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
}

.form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  justify-content: center;
  width: 100%;
}

input[type="number"] {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}

input[type="number"]:hover {
  border-color: #000000;
}

fieldset {
  border: 1px solid #808080;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

fieldset label {
  flex-direction: row !important;
  align-items: center;
  gap: 8px;
  width: auto;
  cursor: pointer;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

legend {
  font-size: 16px;
    line-height: 1.5;
    padding: 0 4px;
    margin-left: 0;
    text-align: left;
    background-color: #fff; 
}

fieldset label {
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 8px;
}

button[type="submit"]:hover {
  background-color: #6c8cff;
}